  <div class="jumbotron text-center mt-5" style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/vecteurs-premium/fond-film-cinema-pop-corn-pellicule-clins-billets-fond-temps-film_41737-248.jpg?w=2000)">
    <h1 class="display-4">Save any kind of movies</h1>
    <!-- Vous pouvez ajouter plus de contenu ou de boutons ici -->
  </div>

  <!-- Section des listes Bootstrap -->
  <div class="container mt-5">
  <div class="d-flex justify-content-between">
    <h2 class="text-center mb-4">My Lists</h2>
    </div>
    <!-- Cartes de listes Bootstrap -->
    <div class="row">
      <% @lists.each do |list| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <%= link_to list_path(list) do %>
            <img src="<%= list.image_url %>" class="card-img-top" alt="List Image" style="height: 200px; object-fit: cover;">
              <div class="card-body">
                <h3 class="card-title"><%= list.name %></h3>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Bouton "Create a New List" Bootstrap -->

  </div>
